{% if msg %}
    <script>
     alert('{{msg}}')
    </script>
{% endif %}

<html lang=“en“>
<head>
    <meta charset=“UTF-8“>
    <title>Sign In</title>
</head>
<body>
    <div style="display: flex; justify-content: center; margin-top: 150px;">
        <form action="/postsign/" method="post">
            {% csrf_token %}
            <div style="display: flex; flex-direction: column; margin:10px;">
                <label for="email">Email :</label> 
                <input type="email" name="email">
            </div>
            <div style="display: flex; flex-direction: column; margin:10px;">
                <label for="password">Password:</label> 
                <input type="password" name="pass">
            </div>
            <button style="margin:10px;">Sign In</button>
        </form>
    </div>
</body>
</html>