<a href="{% url 'home' %}"> Go back to homepage</a>

<h1>Hello {{e}}</h1>

{% if message %}
    <p>Congratulations, your message : <strong>"{{ message }} "</strong> has been saved ! </p>
{% else %}
    <p>There's been an issue. Please retry.</p>
{% endif %}
    