<html lang=“en“>
    <head>
        <meta charset=“UTF-8“>
        <title>Welcome</title>
    </head>
    <body style="margin: 30px;">
        {% csrf_token %}
        <h2 style="text-align: center ; margin: 40px;">Welcome {{e}}</h2>

        <div style="width: 50%; margin:auto; border:solid black 1px; padding: 20px; display: flex; justify-content: center;">
            <form action="/validate_message/" method="POST">
                {% csrf_token %}
                <label for="message">Message :</label>
                <input type="text" name="message" placeholder="Your message here">
                <button type="submit" name="send_message">Save</button>
            </form>
        </div>


        {% if messages %}
            {% for key1, message in messages.items %}
                {% for key2, m in message.items %}
                    {% if key1 == id %}
                        <div style="display: flex;">
                            <form action="{% url 'home' %}" method="POST" style="display: flex; align-items: center;">
                                {% csrf_token %}
                                <p>{{forloop.parentloop.counter}} - </p>
                                <input type="text" name="message_content" value="{{m}}">
                                <button type="submit" name="validate_modify" value="{{key1}}" style="margin-left:5px; height: 25px;">Save</button>
                            </form>
                        </div>
                    {% else %}
                        <div style="display: flex;">
                            <p> {{ forloop.parentloop.counter }} - {{ m }} </p> 
                            <form action="{% url 'delete' %}" method="POST" style="display: flex; align-items: center;">
                                {% csrf_token %}
                                <button type="submit" name="delete" value="{{key1}}" style="margin-left:5px; height: 25px;">Delete  </button>
                            </form>
                            <form action="{% url 'modify' %}" method="POST" style="display: flex; align-items: center;">
                                {% csrf_token %}
                                <button type="submit" name="modify" value="{{key1}}" style="margin-left:5px; height: 25px;">Modify</button>
                            </form>
                        </div>  
                    {% endif %}           
                {% endfor %} 
            {% endfor %}
        {% endif %}  
    </body>
</html>